@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9cfc1;
}

header, nav button {
  background-color: #cbc2b5;
  font-family: "Madimi One", sans-serif;
  letter-spacing: 1.5px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.title {
  font-size: 1.5rem;
}

nav {
  display: flex;
  gap: 15px;
}

nav button:hover {
  cursor: pointer;
  color: white;
}

nav button {
  position: relative;
}

nav button::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: all 0.3s ease;
}

nav button:hover::after {
  width: 100%;
} 

button, header {
  font-weight: bold;
  color: black;
}

button {
  border: none;
  font-size: 1rem;
}